 .designermeet {
    margin-left: 8%;
    background: #FFFFFF;
    border-radius: 20px;
    height: auto;
    width: auto;
    position: relative;
 }

 .designermeettitle {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 2em;
   line-height: 29.26px;
   color: #F44336;
   float: left;
   width: 100%;
   height: auto;
   margin-left: 3%;
   margin-top: 3%;
   @media (max-width:1400px ){
      margin-left: 2%;
   }
   @media (max-width:1120px) {
      margin-left: unset;
   }
   @media (max-width:992px) {
      margin-left: 4.5%;
    }
    @media (max-width:850px) {
      margin-left: 4%;
    }
    @media (max-width:650px) {
      margin-left: 3%;
    }
    @media (max-width:600px) {
      margin-left: 2%;
    }
    @media (max-width:450px) {
      margin-left: unset;
    }
 }

 .designermeettitleForHome {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 2em;
    line-height: 29.26px;
    color: #F44336;
    float: left;
    width: 100%;
    height: auto;
    margin-left: 3%;
    margin-top: 3%;
    @media (max-width:1650px) {
      margin-left: 2%;
    }
    @media (max-width:1450px) {
      margin-left: 1.5%;
    }
    @media (max-width:1250px) {
      margin-left: unset;
    }
    @media (max-width:992px) {
      margin-left: 4.5%;
    }
    @media (max-width:850px) {
      margin-left: 4%;
    }
    @media (max-width:650px) {
      margin-left: 3%;
    }
    @media (max-width:600px) {
      margin-left: 2%;
    }
    @media (max-width:450px) {
      margin-left: unset;
    }
 }

 .marginmove_5 {
    margin-left: 10%;
 }

 .marginmovebig_2 {
    margin-left: 10%;
    margin-right: 10%;
 }

 .forminput {
    font-size: 0.9em;
 }

 .whatsapplabel {
    width: 100%;
    float: right;
    display: flex;
    margin-right: 10%;

    .label1 {
       font-family: 'Montserrat';
       font-style: normal;
       font-weight: 500;
       font-size: 0.90em;
       color: #737373;


    }

    .label2 {
       font-family: 'Montserrat';
       font-style: normal;
       font-weight: 500;
       font-size: 9px;

       //  width: 100%;
       color: #D2D2D2;
       // margin-right: 6%;

    }

 }

 .whatsappcheckbox {
    //   width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2%;
 }

 .inputbox {
    width: 100%;

    div {
       min-width: 30% !important;
    }

    input {
       width: 90%;
    }

    label {
       width: 100%;
    }
 }

 .whatsappdetailsholder {
    margin-top: 5px;
 }

 .designerbookingconfirmationholder {
    width: 100%;
    display: flex;
    justify-content: center;
 }

 .designerbookingconfirmationbutton {
    background: #F44336;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    height: 12%;
 }

 .designerbookingconfirmationbutton>label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
    color: #FFFFFF;
    padding: 1rem 2rem;
    }

 .designerbookingwarningtext {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.46em;
    line-height: 10px;
    color: #737373;
    display: flex;
    justify-content: center;
    padding: 2%;
 }



 @media only screen and (max-width: 1024px) {
    .designermeetholder {
       margin-bottom: 120px;
    }

 }

 @media only screen and (max-width: 775px) {
    .whatsappdetailsholder {
       margin-right: 2%;
    }

    .designermeetholder {
       margin-bottom: 160px;
    }

    .whatsappcheckbox {
       right: 0px;
       margin-right: 2%;
    }

    .designermeet {
       margin: 2% !important;
    }
 }


 @media (max-width:576px) {
   
   .forminput {
      font-size: 0.7em;
   }
   .label1 {
      font-size: 0.85em !important;
   } 
   .label2{
      font-size: 0.4em;
   }
 }