.admin_heading {
    color: #F44336;
    font-size: 1.8vw;
    font-weight: 600;
    // padding-bottom: 2rem; /* Adjusted padding for better alignment */
    text-align: center; /* Center align the heading */
}

.admin_Box {
    padding: 2rem 4%; /* Adjusted padding for better alignment */
    // border: 0.15vw solid rgba(217, 217, 217, 1);
    max-width: 40rem; /* Limiting the width of the box */
    margin: 0 auto; /* Center align the box */
}

.admin_box_content {
    font-size: 1vw;
    font-weight: 500;
    color: #222222;
    text-align: left;
    padding: 1rem 0; /* Adjusted padding for better alignment */
}

.admin_input {
    border: 1px solid #9F9F9F;
    width: 100%;
    font-size: 1rem; /* Adjusted font size for better readability */
    color: #222222;
    padding: 1rem; /* Adjusted padding for better alignment */
    border-radius: 5px;
    margin-bottom: 1rem; /* Added margin for spacing between inputs */
    box-sizing: border-box; /* Ensures padding is included in width */
}

.admin_input::placeholder {
    font-size: 1rem;
    color: #9F9F9F;
}

.admin_button {
    font-weight: 600;
    color: #fff;
    background-color: #F44336;
    width: 100%;
    padding: 1rem 0; /* Adjusted padding for better alignment */
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem; /* Added margin for spacing between buttons */
}

.admin_resend_button {
    font-size: 1rem;
    font-weight: 500;
    color: #222222;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 1rem 0; /* Adjusted padding for better alignment */
    margin-bottom: 1rem; /* Added margin for spacing between buttons */
}

.admin_Verify_content {
    padding-top: 2rem; /* Adjusted padding for better alignment */
    font-size: 0.7rem;
    color: #58B743;
    font-weight: 600;
    text-align: center; /* Center align the verification content */
}
