.imageContainer {
  position: relative;
  // max-width: 100%;
}
.citiesimage{
  width: 100%;

}
.word_bgclr {
  background-color: #2552A4;
}



.tagline {
line-height: 100%;
  font-weight: 400 !important;
  font-size: 34px;
  margin-left: 15px;
  text-align: center;
}

.tagline1 {
  font-size: 40px;
  margin-top: -20px;
  // width: 80%;
  font-weight: 700;
  font-family: "Montserrat";
  line-height: 58.51px;
}

.citiesbannercontent {
  position: absolute;
  left: 100px;
  top: 30%;
  transform: translateY(-50%);
  color: white;
  font-size: 32px;
  // width: 20%;  
}

.citiesbannerform {
  position: absolute;
  left: 4%;
  top: 45%;
}


@media only screen and (max-width: 992px) {
  .citiesbannercontent {
    // left: 20px;
    top: 15%;
    font-size: 14px;
  }

  .citiesbannerform {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    padding: 20px;

  }


}

@media only screen and (max-width: 899px) and (min-width:775px) {
  .banerform {
    margin-right: 10%;
  }
}

@media only screen and (max-width: 899px) {
  .citiesbannercontent {
    // left: 20px;
    top: 15%;
    font-size: 14px;
  }

  .citiesbannerform {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    padding: 20px;
    background-color: #2552A4;
    padding-top: 20%;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) and (min-width:300px) {
  .citiesbannercontent {
    left: 10px;
    font-size: 10px;
    width: 0%;

  }


}

@media only screen and (max-width: 1026px) and (min-width:900px) {
  .citiesbannerform {
    position: relative;
    position: absolute;
    left: 0;
    margin-top: 8%;
  }

  .citiesbannercontent {
    white-space: nowrap;
  }
}

@media only screen and (max-width:1400px) and (min-width:1000px) {
  .citiesbannercontent {
    white-space: nowrap;
  }
}

@media only screen and (max-width:900px) and (min-width:300px) {
  .citiesbannercontent {
    white-space: nowrap;
    margin-top: -50px;
  }
}

@media only screen and (max-width:500px) and (min-width:450px) {
  .citiesbannercontent {
    font-size: 1.1rem !important;
    font-weight: 700;
  }
}

@media only screen and (max-width:450px) and (min-width:380px) {
  .citiesbannercontent {
    font-size: 15px;
    font-weight: 700;
    // margin-top: -20px;
  }

  .tagline1 {
    font-size: 16px;
  line-height: 37.51px;

  }
  .tagline{
    font-size: 16px;
line-height: 0%;

  }
}

@media only screen and (max-width:380px) and (min-width:270px) {
  .citiesbannercontent {
    font-size: 16px;
  }
  .tagline1 {
    font-size: 16px;
  line-height: 37.51px;

  }
  .tagline{
    font-size: 16px;
line-height: 0%;

  }
}
@media only screen and (max-width:750px) and (min-width:550px) {
  .citiesbannercontent {
    font-size: 22px;
  }
  .tagline1 {
    font-size: 22px;
    line-height: 37.51px;
  }
  .tagline{
    font-size: 20px;
    line-height: 0%;
  }
}

@media only screen and (max-width:550px) and (min-width:450px) {
  .citiesbannercontent {
    font-size: 16px;
  }
  .tagline1 {
    font-size: 16px;
    line-height: 37.51px;
  }
  .tagline{
    font-size: 14px;
    line-height: 0%;
  }
}

@media only screen and (max-width:4000px) and (min-width:2000px) {
  .tagline{
font-size: 2em;

  }
  .tagline1{
    font-size: 2em;
padding: 15px;


  }
  .citiesbannercontent{
    font-size: 2em;
padding-left: 4%;
  }
}