.furnitureimageContainer {
  position: relative;
}

.furnitureimage {
  width: 100%;
}

.furniture_tagline {
  font-family: "Montserrat";
  color: #FFFFFF;
  font-weight: 100 !important;
  font-size: 3.5em;
}

.furniture_tagline1 {

  // width: 60%;
  color: #FFFFFF;
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 3.5em;
  line-height: 100%;
}

.furniturebannercontent {
  position: absolute;
  right: 14%;
  top: 25%;
  transform: translateY(-50%);
}

.furniturebannerform {
  position: absolute;
  right:5%;
  top: 45%;
  width: 35vw;
}

@media only screen and (max-width:4000px) and (min-width:2000px) {
  .furniture_tagline {
    font-size: 4.2em;
  }

  .furniture_tagline1 {
    font-size: 4.2em;
  }

  .furniturebannercontent {
    top: 25%;
    right: 16%;
  }

  .furniturebannerform {
    top: 40%;
  }
}

@media only screen and (max-width:2000px) and (min-width:1600px) {
  .furniture_tagline {
    font-size: 3.5em;
  }

  .furniture_tagline1 {
    font-size: 3.5em;
  }

  .furniturebannercontent {
    top: 25%;
  }
}

@media only screen and (max-width:1600px) and (min-width:1200px) {
  .furniture_tagline {
    font-size: 3.5em;
  }

  .furniture_tagline1 {
    font-size: 3.5em;
  }

  .furniturebannercontent {
    top: 19%;
    right: 10%;
 }
 .furniturebannerform {
  top: 38%;
  width: 40vw;
  }
}

@media only screen and (max-width:1200px) and (min-width:1000px) {
  .furniture_tagline {
    font-size: 2.5em;
  }

  .furniture_tagline1 {
    font-weight: 500;
    font-size: 2.5em;

  }

  .furniturebannercontent {
    top: 15%;
    right: 20%;
  }

  .furniturebannerform {
    top: 30%;
    width: 50vw;
  }

}

@media only screen and (max-width:1000px) and (min-width:900px) {
  .furniture_tagline {
    font-size: 2em;
  }

  .furniture_tagline1 {
    font-weight: 400;
    font-size: 2em;
  }

  .furniturebannercontent {
    white-space: nowrap;
}

  .furniturebannerform {
    top: 25%;
  }
}

@media (max-width:775px) {
  .furniturebannerform {
    padding-right: 1% !important;
  }  
}

@media (max-width:1000px) {
  .furniturebannerform {
    position: relative;
    top: 0;
    transform: none;
    padding: 20px;
    background-color: #EF5350;
    padding-top: 20%;
    padding-right: 14%;
    width: unset;
  }

  .furniture_tagline {
    font-family: "Montserrat";
    color: #FFFFFF;
    font-weight: 100 !important;
    font-size: 3em;
  }

  .furniture_tagline1 {
    font-weight: 400;
    font-size: 3em;
  }

  .furniturebannercontent {
    top: 15%;
  }
  .furniturebannerform {
    right:0%;
}
}

@media only screen and (max-width:600px) and (min-width:350px) {
  .furniturebannerform {
    position: relative;
    top: 0;
    transform: none;
    padding: 20px;
    background-color: #EF5350;
    padding-top: 20%;

  }

  .furniture_tagline {
    font-size: 1.75em;
  }

  .furniture_tagline1 {
    font-weight: 400;
    font-size: 1.75em;
  }
  .furniturebannercontent {
    top: 15%;

  }
  .furniturebannerform {
    right:0%; 
}
}

