.selectedButton {
    background-color: #F44336;
    color: #fff;
    border-radius: 0.3vw;
    padding: 1% 0%;
    width: 30%;
  }
  .not_selectedButton{
    background-color: white;
    color:#222222;
    border: 1px solid #9F9F9F;
    border-radius: 0.3vw;
    padding: 1% 0%;
    width: 30%;
  }
  .select_button_Heading{
    font-size: 1vw;
    font-weight: 600;
    color: #737373;
    @media (max-width:1024px){
        font-size: 12px;
    }
  }
  .radio_button_Heading
  {
    padding-top: 4%;
    padding-bottom: 1%;
    margin-bottom: unset;
    font-size: 1vw;
    font-weight: 600;
    color: #737373;
    @media (max-width:1024px){
        font-size: 12px;
    }
  }
  .Button_content{
    display: flex;
    justify-content: space-between;
  }
  .input_Dropdown:focus{
    border-color: unset;
    box-shadow: unset;
  }
  .input_Dropdown{
    padding: 1% 0% 1% 10% !important;
  }
  .bookfree_dropdown{
    position: relative;
  }
  .show{
    display: block;
    color: #F44336;
    position: absolute;
    bottom: 13%;
    left: 2%;
  }
  .hidden{
    display: none;
  }