.row1 {
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    padding: 4% 7% 0% 7%;
    // top: 20%
    column-gap: 2%;
    justify-content: center;
    align-items: center;
}
.rowChange{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    padding: 4% 7% 0% 7%;
    column-gap: 2%;
    justify-content: center;
    align-items: center;
}

.rowimg{
width: 100%
}

.points {
width: 90%;
    max-height: 24em;
    overflow: hidden;
    bottom: 10%;
    font-size: 2vh;
}
.subhead{
    font-weight: 500;
}
.readmore{
   color: red;
   flex-direction: column;
   max-height: 40vh;
}
.heading {
    font-family: "Montserrat";
    font-size: 2vh;
    font-weight: 500;
    letter-spacing: 0em;
    // text-align: justify;
    color: #9F9F9F;
}
.heading1{
    font-family: "Montserrat";
    color: black;
    font-weight: 500;
    line-height: 20px;
    font-size: 2vh;

}
@media only screen and (min-width:320px) and (max-width: 780px){
    .rowChange{
        // display: flex ;
        // flex-direction:column !important ;
        display: block !important;
    }
    .row1{
        display: block;
    }
 } 