.row1 {
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    padding: 4% 7% 0% 7%;
    // top: 20%
    column-gap: 2%;
    justify-content: center;
    align-items: center;
}
.rowChange{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    padding: 4% 7% 0% 7%;
    column-gap: 2%;
    justify-content: center;
    align-items: center;
}

.rowimg{
width: 100%
}

.points {
width: 90%;
    max-height: 24em;
    overflow: hidden;
    bottom: 10%;
    font-size: 2vh;
}
.readmore{
   color: red;
   flex-direction: column;
}
.heading {
    font-family: "Montserrat";
    font-size: 2vh;
    font-weight: 500;
    letter-spacing: 0em;
    // text-align: justify;
    color: #9F9F9F;
}
.heading1{
    color: black;
    font-weight: 500;
    line-height: 28px;
    font-size: 2vh;

}