.chat_container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

/* Style the chat conversation */
.chat-conversation {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}

/* Style the user's message */
.user-message {
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    max-width: 70%;
    align-self: flex-end;
}

/* Style the bot's message */
.bot-message {
    background-color: #ececec;
    color: #333;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    max-width: 70%;
    align-self: flex-start;
}

/* Style the input field */
#user-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

/* Style the send button */
#send-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}

.km-modal-span{
    display: none !important;
}