.faqInnerLayer {
    margin: 2% 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

}
.faqInnerLayer_CS{
        margin: 0 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    @media (max-width:700px) {
        grid-template-columns: repeat(1, 1fr);
       }
}
.faqHead {
    font-weight: 700;
    font-size: 24px;
    color: #222222;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    @media (min-width:1700px) {
        font-size: 1.5vw;
    }
}

.faqBox{
    display: flex;
    margin-top: 25px;
    margin-left: 2%;
    width: 96%;
    height: 60px;
    background-color: #F5F5F5;
    align-items: center !important;
    padding: 2%;
}
.faqQuestion{
    font-size: 0.9vw;
    font-weight: 600;
    color: #737373;
    width: 92%;
    padding-left: 20px;
    @media screen and (max-width:1023px){
    font-size:10px;
    }
}

.faqAnswer {
    font-size: 0.9vw;
    font-weight: 400;
    background: #ffff;
    color: #000;
    width: 96%;
    height: 60px;
    margin-left: 30px;
    align-items: center !important;
    padding: 5px;
    @media screen and (max-width:1024px){
        font-size: 10px;
    }
}
.faqIcon {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    margin-top: 3px;
}

.faqIcon {
    transition: transform 0.3s ease-in-out;
  
    &.rotate {
      transform: rotate(45deg);
    }
  }
  
  .faqAnswer {
    max-height: 0;
    overflow: hidden;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: max-height 0.3s, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  
    &.open {
      max-height: 100vh; // assuming this will be enough to show the content
      transform: scaleY(1);
      opacity: 1;
    }
  }
  
@media only screen and (max-width: 720px) and (min-width:320px) {
    .faqInnerLayer {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}
// @media only screen and (max-width:1920px) and (min-width:1800px){
//     .faqContainer {
//         padding: 0px;
//     }
// }
// @media only screen and (max-width:1800px) and (min-width:1440px){
//     .faqContainer {
//         padding: 0px;
//         margin-right: 0px !important; 

//     }
// }
// @media only screen and (max-width:1440px) and (min-width:1380px){
//     .faqContainer{
//         padding: 0px;
//         margin-right: 150px;
//     }
// }
// @media only screen and (max-width:1380px) and (min-width:1360px){
//     .faqContainer {
//         padding: 0px;
//         margin-right: 180px;
//     }
//     .faqBox{
//         width: 640px;
//     }
//     .faqAnswer {
//         width: 640px;
//     }
//     .faqIcon {
//         margin-top: 0px;
//     }
// }
// @media only screen and (max-width:1360px) and (min-width:1340px){
//     .faqContainer {
//         padding: 0px;
//         margin-right: 150px;
//     }
//     .faqBox{
//         width: 630px;
//     }
//     .faqAnswer {
//         width: 630px;
//     }
//     .faqIcon {
//         margin-top: 0px;
//     }
// }
// @media only screen and (max-width:1340px) and (min-width:1330px){
//     .faqContainer {
//         padding: 0px;
//         margin-right: 120px;
//     }
//     .faqBox{
//         width: 620px;
//     }
//     .faqAnswer {
//         width: 620px;
//     }
//     .faqIcon {
//         margin-top: 0px;
//     }
// }
// @media only screen and (max-width:1330px) and (min-width:1300px){
//     .faqContainer {
//         padding: 0px;
//         margin-right: 80px;
//     }
//     .faqBox{
//         width: 600px;
//     }
//     .faqAnswer {
//         width: 600px;
//     }
//     .faqIcon {
//         margin-top: 0px;
//     }
// }
// @media only screen and (max-width:1300px) and (min-width:1250px){
//     .faqContainer {
//         padding: 0px;
//         margin-right: 50px;
//     }
//     .faqBox{
//         width: 580px !important;
//     }
//     .faqAnswer {
//         width: 580px !important;   
//     }
//     .faqIcon {
//         margin-top: 0px;
//     }
// }
// @media only screen and (max-width:1250px) and (min-width:1024px){
//     .faqContainer {
//         padding: 0px;
//         margin-right: 70px;
//     }
//     .faqBox,.faqAnswer{
//         width: 500px;
//     }
//     .faqIcon {
//         margin-top: 0px;
//     }
// }
// @media only screen and (max-width: 1024px) and (min-width:1000px) {
//     .faqContainer {
//         padding: 0px;
//         margin-right: 120px;
//     }
//     .faqBox, .faqAnswer {
//         width: 480px;
//     }
//     .faqIcon {
//         margin-top: 0px;
//     }
// }
// @media only screen and (max-width: 1000px) and (min-width:990px) {
//     .faqContainer {
//         padding: 0px;
//     }
//     .faqBox, .faqAnswer{
//         width: 430px;
//     }
// }
// @media only screen and (max-width: 990px) and (min-width:960px) {
//     .faqContainer {
//         padding: 0px;
//         margin-right: 120px;
//     }
//     .faqBox, .faqAnswer{
//         width: 395px;
//     }
// }
// @media only screen and (max-width: 960px)  and (min-width:824px) {
//     .faqContainer {
//         padding: 0px;
//         margin-right: 100px;
//     }
//     .faqBox, .faqAnswer{
//         width: 395px;
//     }
// }
// @media only screen and (max-width: 824px) and (min-width:769px) {
//     .faqContainer {
//         padding: 0px;
//         margin-right: 40px;
//     }
//     .faqBox, .faqAnswer{
//         width: 360px;
//     }
// }
// @media only screen and (max-width: 768px) and (min-width:501px) {
//     .faqContainer {
//         width: 100%;
//         padding: 0px;
//     }
//     .faqInnerLayer {
//         grid-template-columns: repeat(1, 1fr) !important;
//     }
//     .faqBox{
//         width: 100%;
//         padding: 5px;
//     }
//     .faqQuestion{
//         width: 95%;
//         padding-left: 0px;
//     }
//     .faqAnswer {
//         width: 100%;
//         margin-left: 0px;
//     }
//     .faqIcon {
//         margin-top: 0px;
//     }
// }
// @media only screen and (max-width: 500px) and (min-width:320px) {
//     .faqContainer {
//         width: 100%;
//         padding: 0px;
//     }

//     .faqInnerLayer {
//         grid-template-columns: repeat(1, 1fr) !important;
//     }
//     .faqBox{
//         width: 100% !important;
//         padding: 5px;
//     }
//     .faqQuestion{
//         width: 93%;
//         padding-left: 0px;
//     }
//     .faqAnswer {
//         width: 100% !important;
//         margin-left: 0px !important;
//     }
//     .faqIcon {
//         margin-top: 0px;
//     }
//     .faqHead {
//         font-size: 23px !important;
//     }
// }