.designjournalimageContainer {
  position: relative;
}

.designjournalimage {
  width: 100%;

  @media (max-width:576px) {
    height: 75vw;
  }
}

.designjournal_tagline {
  font-family: "Montserrat";
  color: #FFFFFF;
  font-weight: 100 !important;
  font-size: 2.8em;
}

.designjournal_tagline1 {
  color: #FFFFFF;
  // font-weight: 700;
  font-family: "Montserrat";
  font-size: 2.8em;
  line-height: 100%;
}

.designjournalbannercontent {
  position: absolute;
  font-size: 0.8em;
  left: 65%;
  top: 70%;
  transform: translateY(-50%);
  font-weight: 600;

}
.btnicon {
  margin-right: 8px; 
}

.circle {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 5px;
  border: 1px solid #fff;
  align-items: center;
}

.bannerbtn {
  background: #F44336;
  position: "absolute";
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 20px;
  left: 300px;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 18px 25px;
  @media (max-width:2000px) {
    font-size: 13px;
    padding: 5px 15px;
  }
}

.iconpar {
  display: flex;
}

.btnicon {
  display: flex;
  align-items: center;
}
@media(min-width:2000px) {
  .designjournal_tagline {
    font-size: 2.8vw;
    line-height: 3.3vw;
  }

  .designjournal_tagline1 {
    font-size: 2.8vw;
    line-height: 3.3vw;
  }

  .designjournalbannercontent {
    top: 30%;
    left: 67%;
  }

  .designjournalbannerform {
    top: 53%;
    right: 6%;
    width: 32vw;
  }
}

@media only screen and (max-width:2000px) and (min-width:1600px) {
  .designjournal_tagline {
    font-size: 3.5em;
  }

  .designjournal_tagline1 {
    font-size: 3.5em;
  }

  .designjournalbannercontent {
    top: 25%;
    left: 63%;
  }
}

@media only screen and (max-width:1600px) and (min-width:1200px) {
  .designjournal_tagline {
    font-size: 3.2em;
    // font-weight: 500;
  }

  .designjournal_tagline1 {
    font-size: 3.2em;
  //  font-weight: 500 !important;
  }

  .designjournalbannercontent {
    top: 26%;
  }

}


@media only screen and (max-width:1200px) and (min-width:1000px) {
  .designjournal_tagline {
    font-size: 2.5em;
  }

  .designjournal_tagline1 {
    font-weight: 500;
    font-size: 2.5em;

  }

  .designjournalbannercontent {
    top: 15%;
    left: 54%;
  }



}

@media only screen and (max-width:1000px) and (min-width:900px) {
  .designjournal_tagline {
    font-size: 2em;
  }

  .designjournal_tagline1 {
    font-weight: 500;
    font-size: 2em;
  }

  .designjournalbannercontent {
    white-space: nowrap;
  }


}

@media (max-width:775px) {
  .designjournalbannerform {
    padding-right: 3% !important;
  }
}

@media (max-width:1000px) {
  .designjournalbannerform {
    position: relative;
    top: 0;
    transform: none;
    padding: 20px;
    background-color: #EF5350;
    padding-top: 5%;
    padding-right: 12%;
    width: unset;
  }

  .designjournal_tagline {
    font-family: "Montserrat";
    color: #FFFFFF;
    font-weight: 500 !important;
    font-size: 2em;
  }

  .designjournal_tagline1 {
    font-weight: 500;
    font-size: 2em;
  }

  .designjournalbannercontent {
    top: 42%;
    left: unset;
    right: 18%;
  }

}

@media only screen and (max-width:600px) and (min-width:350px) {
  .designjournalbannerform {
    position: relative;
    top: 0;
    transform: none;
    padding: 20px;
    background-color: #EF5350;
  }

  .designjournal_tagline {
    font-size: 1.75em;
  }

  .designjournal_tagline1 {
    font-weight: 500;
    font-size: 1.75em;
  }

  .designjournalbannercontent {
    top: 15%;
  }

}