.homeofficeimageContainer {
  position: relative;
}

.homeofficeimage {
  width: 100%;
}

.homeoffice_tagline {
  font-family: "Montserrat";
  color: #FFFFFF;
  font-weight: 100 !important;
  font-size: 4em;
}

.homeoffice_tagline1 {

  // width: 60%;
  color: #FFFFFF;
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 4em;
  line-height: 100%;
}

.homeofficebanercontent {
  position: absolute;
  right: 10%;
  top: 25%;
  transform: translateY(-50%);
}

.homeofficebanerform {
  position: absolute;
  right:10%;
  top: 45%;
}

@media only screen and (max-width:4000px) and (min-width:2000px) {
  .homeoffice_tagline {
    font-size: 4.7em;
  }

  .homeoffice_tagline1 {
    font-size: 4.7em;
  }

  .homeofficebanercontent {
    top: 25%;
  }

  .homeofficebanerform {
    top: 40%;
  }
}

@media only screen and (max-width:2000px) and (min-width:1600px) {
  .homeoffice_tagline {
    font-size: 4em;
  }

  .homeoffice_tagline1 {
    font-size: 4em;
  }

  .homeofficebanercontent {
    top: 25%;
  }
}

@media only screen and (max-width:1600px) and (min-width:1200px) {
  .homeoffice_tagline {
    font-size: 4em;
  }

  .homeoffice_tagline1 {
    font-size: 4em;
  }

  .homeofficebanercontent {
    top: 25%;
  }
}

@media only screen and (max-width:1200px) and (min-width:1000px) {
  .homeoffice_tagline {
    font-size: 2.5em;
  }

  .homeoffice_tagline1 {
    font-weight: 500;
    font-size: 2.5em;

  }

  .homeofficebanercontent {
    top: 15%;
  }

  .homeofficebanerform {
    top: 35%;
  }

}

@media only screen and (max-width:1000px) and (min-width:900px) {
  .homeoffice_tagline {
    font-size: 2em;
  }

  .homeoffice_tagline1 {
    font-weight: 400;
    font-size: 2em;
  }

  .homeofficebanercontent {
    white-space: nowrap;
    top: 10%;
}

  .homeofficebanerform {
    top: 25%;
  }
}

@media only screen and (max-width:900px) and (min-width:600px) {
  .homeofficebanerform {
    position: relative;
    top: 0;
    transform: none;
    padding: 20px;
    background-color: #2552A4;
    padding-top: 20%;
  }

  .homeoffice_tagline {
    font-family: "Montserrat";
    color: #FFFFFF;
    font-weight: 100 !important;
    font-size: 3em;
  }

  .homeoffice_tagline1 {
    font-weight: 400;
    font-size: 3em;
  }

  .homeofficebanercontent {
    top: 15%;
  }
  .homeofficebanerform {
    right:0%;
}
}

@media only screen and (max-width:600px) and (min-width:350px) {
  .homeofficebanerform {
    position: relative;
    top: 0;
    transform: none;
    padding: 20px;
    background-color: #2552A4;
    padding-top: 20%;

  }

  .homeoffice_tagline {
    font-size: 1.75em;
  }

  .homeoffice_tagline1 {
    font-weight: 400;
    font-size: 1.75em;
  }
  .homeofficebanercontent {
    top: 15%;

  }
  .homeofficebanerform {
    right:0%;
}
}










































































































// .homeofficeimageContainer {
//   position: relative;
// }
// .homeofficeimage{
//   width: 100%;

// }

// .homeoffice_tagline1 {
//   font-family: "Montserrat";
//   color:#FFFFFF;
//   // font-weight: 100 !important;
//   font-size: 3.5em;
// }
// .homeoffice_tagline {

//   width: 60%;
//   color:#FFFFFF;
//   font-weight: 700;
//   font-family: "Montserrat";
//   font-size: 3.5em;
//   line-height: 100%;
// }
// .homeofficebanercontent {
//   position: absolute;
//    right: 10%; 
//   // left: 57%;
//   top: 25%;
//   transform: translateY(-50%);
//   text-wrap: nowrap;
//  }
// .homeofficebanerform {
//   position: absolute;
//   // left: 4%;
//   right: 14%;
//   top: 45%;
// } 
// @media only screen and (max-width:4000px) and (min-width:2000px) {
//   .homeoffice_tagline {
//     // font-family: "Montserrat";
//     color:#FFFFFF;
//     font-weight: 100 !important;
//     font-size: 6em;
//   }
//   .homeoffice_tagline1 {
  
//     width: 60%;
//     color:#FFFFFF;
//     font-weight: 700;
//     font-family: "Montserrat";
//     font-size: 6em;
//     line-height: 100%;
//   }
//   .homeofficebanercontent {
//     position: absolute;
//     // left: 10%;
//     top: 25%;
//     transform: translateY(-50%);
//    }
// }

// @media only screen and (max-width:2000px) and (min-width:1600px) {
//   .homeoffice_tagline {
//     font-family: "Montserrat";
//     color:#FFFFFF;
//     font-weight: 100 !important;
//     font-size: 4em;
//   }
//   .homeoffice_tagline1 {
  
//     width: 60%;
//     color:#FFFFFF;
//     font-weight: 700;
//     font-family: "Montserrat";
//     font-size: 4em;
//     line-height: 100%;
//   }
//   .homeofficebanercontent {
//     position: absolute;
//     // left: 10%;
//     top: 25%;
//     transform: translateY(-50%);
//    }
//  }




//  @media only screen and (max-width:1600px) and (min-width:1200px) {
//   .homeoffice_tagline {
//     font-family: "Montserrat";
//     color:#FFFFFF;
//     font-weight: 100 !important;
//     font-size: 4em;
//   }
//   .homeoffice_tagline1 {
  
//     width: 60%;
//     color:#FFFFFF;
//     font-weight: 700;
//     font-family: "Montserrat";
//     font-size: 4em;
//     line-height: 100%;
//   }
//   .homeofficebanercontent {
//     position: absolute;
//     // left: 10%;
//     top: 25%;
//     transform: translateY(-50%);
//    }
//  }
//  @media only screen and (max-width:1200px) and (min-width:1000px) {
//   .homeoffice_tagline {
//     font-family: "Montserrat";
//     color:#FFFFFF;
//     font-weight: 100 !important;
//     font-size: 3em;
//   }
//   .homeoffice_tagline1 {
  
//     width: 60%;
//     color:#FFFFFF;
//     font-weight: 500;
//     font-family: "Montserrat";
//     font-size: 3em;
//     line-height: 100%;
//   }
//   .homeofficebanercontent {
//     position: absolute;
//     // left: 10%;
  
//    }
  
//  }
//  @media only screen and (max-width:1000px) and (min-width:900px) {
//   .homeoffice_tagline {
//     font-family: "Montserrat";
//     color:#FFFFFF;
//     font-weight: 100 !important;
//     font-size: 2em;
//   }
//   .homeoffice_tagline1 {
  
//     width: 60%;
//     color:#FFFFFF;
//     font-weight: 400;
//     font-family: "Montserrat";
//     font-size: 2em;
//     line-height: 100%;
//   }
//   .homeofficebanercontent {
//     position: absolute;
//     // right: 0;
//     // left: 10%;
//     top: 25%;
//     transform: translateY(-50%);
//    }
//  }
//  @media only screen and (max-width:900px) and (min-width:600px) {
//     .homeofficebanerform {
//     position: relative;
//     // left: 0;
//     top: 0;
//     transform: none;
//     padding: 20px;
//     background-color: #2552A4;
//     padding-top: 20%;
//   }
//   .homeoffice_tagline {
//     font-family: "Montserrat";
//     color:#FFFFFF;
//     font-weight: 100 !important;
//     font-size: 3em;
//   }
//   .homeoffice_tagline1 {
  
//     width: 60%;
//     color:#FFFFFF;
//     font-weight: 400;
//     font-family: "Montserrat";
//     font-size: 3em;
//     line-height: 100%;
//   }
//   .homeofficebanercontent {
//     position: absolute;
//     // left: 10%;
//     // top:40%;
//     // top: 15%;
//     transform: translateY(-50%);
//    }
//  }
//  @media only screen and (max-width:600px) and (min-width:350px) {
//   .homeofficebanerform {
//     position: relative;
//     // left: 0;
//     top: 0;
//     transform: none;
//     padding: 20px;
//     background-color: #2552A4;
//     padding-top: 20%; 

//   }
//   .homeoffice_tagline {
//     font-family: "Montserrat";
//     color:#FFFFFF;
//     font-weight: 100 !important;
//     font-size: 1.75em;
//   }
//   .homeoffice_tagline1 {
  
//     width: 60%;
//     color:#FFFFFF;
//     font-weight: 400;
//     font-family: "Montserrat";
//     font-size: 1.75em;
//     line-height: 100%;
//   }
//   .homeofficebanercontent {
//     position: absolute;
//     // left: 10%;
//     top:40%;
//     top: 15%;
//     transform: translateY(-50%);
//    }
//  }




































// // .homeoffice_imageContainer {
// //     position: relative;
// //     max-width: 100%;
// //   }
  
// //   .homeoffice_sliderwrapper {
// //     position: relative;
// //     /* Make the wrapper relative for absolute positioning of the form */
// //     display: flex;
// //     flex-direction: column;
// //     align-items: center;
// //     justify-content: center;
// //   }
// //   .homeoffice_tagline{
// //     margin-top:-20px;
// //     width:80%;
// //     font-weight: 600;
// //     font-family: "Montserrat";
  
// //   }
// //   .homeoffice_tagline1{
// //     font-weight: 400 !important;
  
// //   }
// //   .homeoffice_bedroombannercontent {
// //     position: absolute;
// //     right: 200px;
// //     top: 32%;
// //     transform: translateY(-50%);
// //     color: white;
// //     font-size: 32px;
// //     width: 20%;
// //   }
  
// //   .homeoffice_bedroombannerform {

// //     position: absolute;
// //    right: 70px;
// //     top: 68%;
// //     transform: translateY(-50%);
// //     padding: 10px;
// //     color: white;
// //   }
  
  
  
// //   @media only screen and (max-width: 992px) {
// //     .homeoffice_bedroombannercontent {
// //       // left: 20px;
// //       top: 15%;
// //       font-size: 24px;
// //     }
  
// //     .homeoffice_bedroombannerform {
// //       position: relative;
// //       left: 0;
// //       top: 0;
// //       transform: none;
// //       padding: 20px;
  
// //     }
  
  
// //   }
  
// //   @media only screen and (max-width: 899px) and (min-width:775px) {
// //     .homeoffice_banerform { 
// //       margin-right: 10%;
// //     }
// //   }
  
// //   @media only screen and (max-width: 899px) {
// //     .homeoffice_bedroombannercontent {
// //       // left: 20px;
// //       top: 15%;
// //       font-size: 24px;
// //     }
  
// //     .homeoffice_bedroombannerform {
// //       position: relative;
// //       left: 0;
// //       top: 0;
// //       transform: none;
// //       padding: 20px;
// //       background-color: #EF5350;
// //       // padding-top: 20%;
// //     }
// //   }
  
// //   @media only screen and (max-width: 600px) and (min-width:300px) {
// //     .homeoffice_bedroombannercontent {
// //       // left: 10px;
// //       font-size: 20px;
// //     }
  
  
// //   }
  
// //   @media only screen and (max-width: 1026px) and (min-width:900px) {
// //     .homeoffice_bedroombannerform {
// //       position: relative;
// //       position: absolute;
// //       left: 0;
// //       margin-top: 8%;
// //     }
// //     .homeoffice_bedroombannercontent {
// //       white-space: nowrap;
// //     }
// //   }
  
// //   @media only screen and (max-width:1400px) and (min-width:1000px) {
// //     .homeoffice_bedroombannercontent {
// //       white-space: nowrap;
// //     }
// //   }
  
// //   @media only screen and (max-width:900px) and (min-width:300px) {
// //     .homeoffice_bedroombannercontent {
// //       white-space: nowrap;
// //       margin-top: -50px;
// //     }
// //   }
  
// //   @media only screen and (max-width:500px) and (min-width:450px) {
// //     .homeoffice_bedroombannercontent {
// //       font-size: 1.1rem !important;
// //       font-weight: 700;
// //     }
// //   }
  
// //   @media only screen and (max-width:450px) and (min-width:380px) {
// //     .homeoffice_bedroombannercontent {
// //       font-size: 15px;
// //       font-weight: 700;
// //       // margin-top: -20px;
// //     }
// //   }
  
// //   @media only screen and (max-width:380px) and (min-width:270px) {
// //     .homeoffice_bedroombannercontent {
// //       font-size: 12px;
// //       // margin-top: -20px;
// //     }
// //   }
  
  
  
  
  