.book_Content{
    width: 70%;
    border: 1px solid #9F9F9F;
    height: 55vh;
    margin: 0% auto;
    border-radius: 2vw;
    padding: 3% 5%;
}
.Book_heading_content{
    text-align: center;
    margin-top: 2%;
}
.heading{
    font-weight: 600;
    color: #222222;
    font-size: 1.5vw;
    margin-bottom: unset;
    @media (max-width:1024px){
        font-size: 20px;
    }
}
.step{
    color: #737373;
    font-size: 1vw;
    margin-bottom: 2%;
    font-weight: 600;
    @media (max-width:1024px){
      font-size: 10px;  
    }
}
.Bookfreedesign_Button_content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.Bookfreedesign_Button{
    background-color: #F44336;
    color: #fff;
    padding: 1% 4%;
    border-radius: 0.5vw;
    margin-top: 2%;
    font-weight: 600;
    font-size: 1.1vw;
    @media (max-width:1024px){
        font-size: 14px;
    }
}